.navbar-wrapper
  .container
    .navbar.navbar-default.navbar-static-top{:role => "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.my-name.navbar-brand{:href => "/"} Dylan Griffith
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-left
            %li
              %a.nav-link{:href => "/posts"} Blog
            %li
              %a.nav-link{:href => "/DylanGriffith.pdf"} CV
          %ul.nav.navbar-nav.navbar-right
            %li
              %a.link-social{:href => "https://plus.google.com/+DylanGriffith", :target => "_blank"}
                %i.fa.fa-google-plus
            %li
              %a.link-social{:href => "https://github.com/DylanGriffith", :target => "_blank"}
                %i.fa.fa-github
            %li
              %a.link-social{:href => "https://www.linkedin.com/pub/dylan-griffith/57/557/451", :target => "_blank"}
                %i.fa.fa-linkedin
